.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: blue;
}

.dialogsItems .dialog {}

.messsages {
    padding: 10px;
}

.messsages.messsage {}